@model StudentApp.Models.Student

<!DOCTYPE html>
<html>
<head>
    <title>Student Details</title>
</head>
<body>
    <h1>Student Information</h1>
    <hr />
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>USN:</strong> @Model.USN</p>
</body>
</html>
