@model StudentApp.Models.Student

<!DOCTYPE html>
<html>
<head>
    <title>Student Details</title>
</head>
<body>
    <h1>Student Information</h1>
    <hr />

    <p><strong>ID:</strong> @Model.Id</p>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Subject:</strong> @Model.Subject</p>
    <p><strong>Marks:</strong> @Model.Marks</p>

</body>
</html>


