@{
   ViewData["Title"] = "Applications settings";
}

<h2>Application Settings</h2>

<p><b> Application Name:</b> @ViewBag.AppName</p>
<p><b> Version:</b> @ViewBag.Version</p>
<p><b> Developer:</b> @ViewBag.Developer</p>
