@page
@using DataBinding.Pages.Shared
@model DataBinding.Pages.Shared.DataBindingModel

<style>
    table {
        border-collapse: collapse;
        margin-top: 8px;
    }

    th, td {
        border: 1px solid black;
        padding: 3px 8px;
    }
</style>

<h2>Data Binding</h2>
<form method="post">
    Name:
    <input asp-for="Person.Name" />
    Age:
    <input asp-for="Person.Age" />
    Address:
    <input asp-for="Person.Address" />
    <button type="submit">Submit</button>
</form>

@if (DataBindingModel.People.Count > 0)
{
    <h3>Submitted Data:</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
        </tr>
        @foreach (var person in DataBindingModel.People)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.Age</td>
                <td>@person.Address</td>
            </tr>
        }
    </table>
}
